/* Index INI */

.carousel {
    height: 250px !important;
    object-fit: cover !important;
    overflow: hidden;
}

.carousel.home .carousel-item {
    max-height: 250px;
}

.carousel-item img {
    height: 297px !important;
    /* width: 969px !important; */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(128, 128, 128, 0.507) !important;
    border-radius: 10px;
}

#desc {
    margin: 25px;
}

#zentroak{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}

#tab_zentro {
    display: inline-table;
    margin-left: 10vw;
}

#tab_zentro_gust {
    display: inline-table;
    margin-left: 10vw;
}

 #tab_zentro thead {
    border: solid black 2px;
    background-color: rgb(185, 185, 185);
    padding: 3px !important;
}

#tab_zentro_gust thead {
    border: solid black 2px;
    background-color: rgb(185, 185, 185);
    padding: 3px !important;
}

#tab_zentro tbody {
    border: solid black 2px;
}

#tab_zentro_gust tbody {
    border: solid black 2px;
} 
#zentroak th{
    padding: 4px;
} 
#zentroak tbody tr{
    border: solid grey 2px;
} 


/* Index FIN */



/* profila INI */

/*Mugikorra*/
@media (max-width: 400px) {

    .izena-gustokoenak {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-left: 8%;
      padding-right: 8%;
      margin-top: 1rem;
      }
    .email-container {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
      padding-left: 8%;
      padding-right: 8%;
    }
    .email {
      border: lightgray solid 2px;
      border-radius: 2px;
      height: 40%;
      width: auto;
    }
    .aldatu {
      display: flex;
      align-items: center;
      justify-content: right;
      margin-top: 1rem;
      padding-right: 8%;
    }
    .irudia img{
      width: 50%;
    }
  }
  
  /*Tablet*/
  @media (min-width: 400px) {
    .izena-gustokoenak {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-left: 8%;
      padding-right: 8%;
      margin-top: 1rem;
    }
    .email-container {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
      padding-left: 8%;
      padding-right: 8%;
    }
    .email {
      border: lightgray solid 2px;
      border-radius: 2px;
      width: 80%;
    }
    .aldatu {
      display: flex;
      align-items: center;
      justify-content: right;
      margin-top: 1rem;
      padding-right: 25%;
    }
  }
  
  /* Ordenagailua */
  @media (min-width: 950px) {
  
    .izena-gustokoenak {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-left: 30.5%;
      padding-right: 8%;
      margin-top: -13rem;
      }
    .email-container {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
      padding-left: 30.5%;
      padding-right: 8%;
    }
    .email {
      border: lightgray solid 2px;
      border-radius: 2px;
      height: 40%;
      width: 60%;
    }
    .aldatu {
      display: flex;
      align-items: center;
      justify-content: right;
      margin-top: 1rem;
      padding-right: 35%;
    }
    .irudia img {
      width: 30%;
      padding-left: 5%;
    }
    .izena {
      font-size: xx-large;
    }
  }

  /* profila FIN */

  /* zentroak FIN */
  #centros{
    padding: 0 !important;
    display: inline-grid;
    column-gap: 1em;
    row-gap: 1em;
    grid-template-columns: auto auto auto auto;
  }
  /* zentroak FIN */
