/* Index INI */

.carousel {
    height: 250px !important;
    object-fit: cover !important;
    overflow: hidden;
}

.carousel.home .carousel-item {
    max-height: 250px;
}

.carousel-item img {
    height: 297px !important;
    /* width: 969px !important; */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(128, 128, 128, 0.507) !important;
    border-radius: 10px;
}

#desc {
    margin: 25px;
}

#zentroak{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}

#tab_zentro {
    display: inline-table;
    margin-left: 10vw;
}

#tab_zentro_gust {
    display: inline-table;
    margin-left: 10vw;
}

 #tab_zentro thead {
    border: solid black 2px;
    background-color: rgb(185, 185, 185);
    padding: 3px !important;
}

#tab_zentro_gust thead {
    border: solid black 2px;
    background-color: rgb(185, 185, 185);
    padding: 3px !important;
}

#tab_zentro tbody {
    border: solid black 2px;
}

#tab_zentro_gust tbody {
    border: solid black 2px;
} 
#zentroak th{
    padding: 4px;
} 
#zentroak tbody tr{
    border: solid grey 2px;
} 


/* Index FIN */